<script src='../static/js/jquery.min.js'></script>
<script src='../static/js/toggle_theme.js'></script>

{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">

    <div class="input-group">
      <input type="text" class="form-control" id="add-lists-input" placeholder="Add list"
        aria-label="Añadir elementos a la lista de compra" aria-describedby="button-addon">
      <button class="btn btn-outline-secondary" type="button" id="button-addon">Add</button>
    </div>

  </div>

  <div class="cards-menu shadow p-3 mb-5 bg-body-tertiary rounded">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Lists</span>
        <span id="listsSubText"></span>
      </div>
    </nav>
    <div class="row lists-list">
      <!--LISTS ARE HERE, loaded from js-->
    </div>

  </div>
</div>


<div class="toast-container">

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" ,
      data-bs-delay=3000>
      <div class="toast-header">
        <img src="../static/img/shopping-list.png" class="rounded me-2" style="width: 20px;" alt="...">
        <strong class="me-auto">Notification</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toastBodyText">
        TEXT
      </div>
    </div>
  </div>

  <script>var listUrl = "{{ url_for('main.lists') }}";</script>
  <script src='../static/js/main.js'></script>

  {% endblock %}