<script src='../static/js/jquery.min.js'></script>
<script src='../static/js/toggle_theme.js'></script>

{% extends "base.html" %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" id="listNameText">
        <!--Addeds from JS-->
      </span>
      <p id="amount-items">0 items</p>
    </div>
  </nav>
  <div class="input-group">
    <input type="text" class="form-control" id="add-items-input" placeholder="Add items"
      aria-label="Añadir elementos a la lista de compra" aria-describedby="button-addon">
    <button class="btn btn-outline-secondary" type="button" id="button-addon">Add</button>
  </div>

  <ul class="list-group">
    <!--Addeds from JS-->

  </ul>

  <div class="container col text-end" id="container-bottom-list">
    <br>

    <button class="btn btn-outline-primary" type="button" id="save-button">
      <i class="bi bi-save"></i>
    </button>

    <button class="btn btn-outline-danger" type="button" id="buttons-delete"><i class="bi bi-trash3-fill"></i></button>
  </div>
</div>

<div class="buttons-container text-center">
  <a href="{{ url_for('main.index') }}"><input class="btn btn-outline-primary btn" id="buttons-back" type="submit"
      value="Back home"></a>
  <!--<input class="btn btn-outline-danger btn-sm" id="buttons-delete" type="submit" value="Delete selected" hidden> THJIS IS THE OLD DELETE BUTTOn-->
  <!--<input class="btn btn-outline-danger" id="buttons-list-delete" type="submit" value="Delete list!">-->
  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteListModal">
    Delete list
  </button>
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="deleteListModal" tabindex="-1" aria-labelledby="deleteListModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteListModalLabel">Delete list</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete list?
          This cannot be undoed
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, close</button>
          <button type="button" class="btn btn-danger" id="buttons-list-delete">Yes, delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toast-container">

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" ,
      data-bs-delay=3000>
      <div class="toast-header">
        <img src="../static/img/shopping-list.png" class="rounded me-2" style="width: 20px;" alt="...">
        <strong class="me-auto">Notification</strong>
        <small>Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toastBodyText">
        TEXT
      </div>
    </div>
  </div>

</div>
<script>var indexUrl = "{{ url_for('main.index') }}";</script>
<script src='../static/js/list.js'></script>

{% endblock %}